$LinkColor: rgb(35, 124, 207);
$LinkHoverColor:  rgb(23, 96, 165);
$DarkLinkColor: rgb(48, 48, 48);
$DarkLinkHoverColor: rgb(8, 8, 8);

@mixin add-link-color() {
    color: $LinkColor;
    &:hover {
        color: $LinkHoverColor
    }
}

@mixin add-dark-link-color() {
    color: $DarkLinkColor;
    &:hover {
        color: $DarkLinkHoverColor
    }
}