@import 'variables';

.postListHeader {
    padding: 5px 10px 30px 10px;
    h1 {
        font-size: 2.5rem;
        margin: 0px;
    }   
    .backLink {
        @include add-link-color();
    }
}

.postList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
        padding: 25px 10px;
        cursor: pointer;
    }
    li:hover {
        color: gray;
    }
}
.postItem {
    .postTitle {
        font-size: 1.5rem;
    }
    .postSubtitle {
        margin-top: 5px;
        font-size: 0.9rem;
    }
}
.postNav {
    padding: 50px 10px 20px 10px;
    a {
        @include add-link-color();
    }
    .next {
        float: right;
    }
}